.pagination_container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.prev,
.next {
  width: 40px;
  height: 40px;
  color: #da0037;
  font: inherit;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev.disabled,
.next.disabled {
  box-shadow: none;
  color: #999;
  pointer-events: none;
}

.pagination_item {
  display: flex;
  gap: 1rem;
}

.button {
  color: #da0037;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.button.active {
  color: #ededed;
  background-color: #da0037;
}
