.list {
  width: 70%;
  margin: 1rem auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: right;
  background-color: #da0037;
  color: #ededed;
  padding: 1rem;
  font-size: 1.25rem;
}

.coin_header {
  text-align: left;
}

td {
  border-bottom: 1px solid #171717;
  color: #171717;
  padding: 1rem;
  text-align: right;
}

.coin_row {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
}

.name h3 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.profit {
  color: #0ecb81;
}

.loss {
  color: #ff0000;
}

.not_found {
  text-align: center;
}
