.select {
  padding: 10px 10px;
  font-size: 1rem;
  border-radius: 4px;
  color: #ededed;
  background-color: #171717;
  outline: none;
  cursor: pointer;
}

.select option {
  background-color: #171717;
}
