.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centered {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  font: inherit;
  color: #292929;
  outline: none;
  border: none;
  padding: 12px 12px;
  border-radius: 4px;
  width: 100%;
}

.main p {
  font-size: 1.25rem;
  margin-top: 1rem;
}
