.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width: 70%;
  margin: 1.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  font: inherit;
  background-color: #2b2b2b;
  color: #ededed;
  outline: none;
  border: 2px solid #ededed;
  padding: 12px 12px;
  border-radius: 4px;
  width: 100%;
  margin-top: 1rem;
}

.main p {
  font-size: 1.25rem;
  color: #ededed;
}

/* Loading Spinner */
.centered {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
