.header {
  background-color: #da0037;
  padding: 2rem 4rem;
  color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.right_side button {
  font: inherit;
  font-size: 1.25rem;
  background-color: transparent;
  color: #ededed;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 2rem;
}
