@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Open Sans", sans-serif;
  background-color: #edf7f6;
}
